<% if @journal.private_notes? %>
  (<%= l(:field_private_notes) %>)
<% end %>
<%= l(:text_issue_updated, :id => link_to("##{@issue.id}", @issue_url), :author => h(@journal.user)).html_safe %>
<hr />

<ul class="journal details">
<% details_to_strings(@journal_details, false, :only_path => false).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<%= call_hook(:view_mailer_issue_edit_after_details,
              :issue => @issue,
              :journal => @journal,
              :journal_details => @journal_details,
              :users => @users,
              :issue_url => @issue_url) %>

<%= textilizable(@journal, :notes, :only_path => false) %>

<%= call_hook(:view_mailer_issue_edit_after_notes,
              :issue => @issue,
              :journal => @journal,
              :journal_details => @journal_details,
              :users => @users,
              :issue_url => @issue_url) %>

<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>

<%= call_hook(:view_mailer_issue_edit_bottom,
              :issue => @issue,
              :journal => @journal,
              :journal_details => @journal_details,
              :users => @users,
              :issue_url => @issue_url) %>
